@charset "UTF-8";
caption { font-size: 25px; line-height: 150%; }
body { background-color: #08080D; }
table { background-color: #08080D; width: 100%; }
td { background-color: #08080D; }
th { background-color: #08080D; }
td, th { padding: 12px; }
* { color: white; }
button { color: black; }

	/* 페이징 */
	.paging {
		display: flex;
		justify-content: center;
	}
