@charset "UTF-8";

	/* 전체 틀 */
	.layout {
		display: flex;
		justify-content: center;
	}
	
	/* 컨테이너 */
	.container {
		display: flex;
		flex-direction: column;
	}
	
	/* 한 단락 */
	.line {
		
		line-height:33px;
		
	} 
	
	/* 축제 수정 */
	.title {
		display: flex;
		font-size: 32px;
		font-weight: bold;
	}
	
	/* 업데이트 버튼 */
	.botton_btn {
		display: flex;
		justify-content: center;
	}
	