@charset "UTF-8";

	.container {
		display: flex;
		justify-content: center;
	}
	.view_content {
		flex-direction: column;
	}
	
	.view_top {
		display: flex;
		flex-direction: row;
	}
	
	.active {
		display: none;
	}